{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <div class="column justify-content-center">
        {% for product in watchlist %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'auctions:listing' product.listing.id %}" style="text-decoration: none; color: inherit;">
                <div class="card shadow-sm h-100">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.listing.image }}" class="img-fluid rounded-start" style="object-fit: cover; height: 100%;"/>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><b>{{ product.listing.title }}</b></h5>
                                <h6 class="card-text text-success"><b>Base Price</b>: ${{ product.listing.price }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
